<div class="field">
    <label class="ui text menu">{{ 'omni_filter.price'|trans }}</label>

    {{ form_widget(form) }}

    <div class="ui basic segment">
        <div id="slider"></div>
    </div>
</div>
